.headerrightside{
    margin: 30px;
    text-align: right; 
}

.headerrightside a{
    text-decoration: none;
    color: #ffffff;
}

.headerrightside a:hover{
    text-decoration: none;
    color: #0000aa;
}

.floatleft{
    float:left;
}

.clear{
    clear: both;
}

.homeTopImage{
    background: url('/static/house 3.jpg'); 
    height: 500px;
}