{% extends 'layout.html' %}

{% block content %}

    <div class="row mt-3">
      <div class="col-6">
      	<h1 data-aos="slide-right" data-aos-duration="1000" data-aos-once="true">About Us</h1>
      	<p class="lead">
      		We are very good at what we do
      	</p>
      	<p>Coolness is an aesthetic of attitude, behavior, comportment, appearance and style which is generally admired. Because of the varied and changing connotations of cool, as well as its subjective nature, the word has no single meaning. It has associations of composure and self-control and often is used as an expression of admiration or approval. Although commonly regarded as slang, it is widely used among disparate social groups and has endured in usage for generations.</p>
      </div>

	  <div class="col-6">
      	<h1 data-aos="fade-left" data-aos-duration="1200" data-aos-once="true" data-aos-delay="200">More About Us</h1>
      	<p class="lead">
      		We are very very good at what we do
      	</p>
      	<p>Coolness is an aesthetic of attitude, behavior, comportment, appearance and style which is generally admired. Because of the varied and changing connotations of cool, as well as its subjective nature, the word has no single meaning. It has associations of composure and self-control and often is used as an expression of admiration or approval. Although commonly regarded as slang, it is widely used among disparate social groups and has endured in usage for generations.</p>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-6">
      	<h1 data-aos="fade-right" data-aos-duration="1400" data-aos-once="true" data-aos-delay="400">More More About Us</h1>
      	<p class="lead">
      		We are very very very good at what we do
      	</p>
      	<p>Coolness is an aesthetic of attitude, behavior, comportment, appearance and style which is generally admired. Because of the varied and changing connotations of cool, as well as its subjective nature, the word has no single meaning. It has associations of composure and self-control and often is used as an expression of admiration or approval. Although commonly regarded as slang, it is widely used among disparate social groups and has endured in usage for generations.</p>
      </div>

	  <div class="col-6">
      	<h1 data-aos="fade-left" data-aos-duration="1600" data-aos-once="true" data-aos-delay="600">More More More About Us</h1>
      	<p class="lead">
      		We are very very very very good at what we do
      	</p>
      	<p>Coolness is an aesthetic of attitude, behavior, comportment, appearance and style which is generally admired. Because of the varied and changing connotations of cool, as well as its subjective nature, the word has no single meaning. It has associations of composure and self-control and often is used as an expression of admiration or approval. Although commonly regarded as slang, it is widely used among disparate social groups and has endured in usage for generations.</p>
      </div>
    </div>


{% endblock %}