{% extends 'layout.html' %}

{% block content %}

<div class="container">
	<div class="row my-5">
		<div class="col-12 col-lg-6">
			<h1 class="text-orange-1">About Us</h1>
			<h4 class="text-dark-2">We are good at what we do</h4>
			<p class="text-justify text-dark-3">Coolness is an aesthetic of attitude, behavior, comportment, appearance
				and style which is generally
				admired.
				Because of the varied and changing connotations of cool, as well as its subjective nature, the word has
				no
				single meaning. It has associations of composure and self-control and often is used as an expression of
				admiration or approval. Although commonly regarded as slang, it is widely used among disparate social
				groups
				and has endured in usage for generations.</p>
		</div>
		<div class="col-12 col-lg-6 about-img-container">
			<img src="https://images.unsplash.com/photo-1571939228382-b2f2b585ce15?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjV8fGhvdXNlfGVufDB8fDB8&auto=format&fit=crop&w=500&q=60"
				alt="" class="about-img">
		</div>
	</div>
	<div class="row my-5">
		<div class="col-12 col-lg-6 about-img-container-mid">
			<img src="https://images.unsplash.com/photo-1571939228382-b2f2b585ce15?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjV8fGhvdXNlfGVufDB8fDB8&auto=format&fit=crop&w=500&q=60"
				alt="" class="about-img">
		</div>
		<div class="col-12 col-lg-6 alignment">
			<h1 class="text-orange-1">About Us</h1>
			<h4 class="text-dark-2">We are good at what we do</h4>
			<p class="text-justify text-dark-3">Coolness is an aesthetic of attitude, behavior, comportment, appearance
				and style which is generally
				admired.
				Because of the varied and changing connotations of cool, as well as its subjective nature, the word has
				no
				single meaning. It has associations of composure and self-control and often is used as an expression of
				admiration or approval. Although commonly regarded as slang, it is widely used among disparate social
				groups
				and has endured in usage for generations.</p>
		</div>

	</div>
	<div class="row my-5">
		<div class="col-12 col-lg-6">
			<h1 class="text-orange-1">About Us</h1>
			<h4 class="text-dark-2">We are good at what we do</h4>
			<p class="text-justify text-dark-3">Coolness is an aesthetic of attitude, behavior, comportment, appearance
				and style which is generally
				admired.
				Because of the varied and changing connotations of cool, as well as its subjective nature, the word has
				no
				single meaning. It has associations of composure and self-control and often is used as an expression of
				admiration or approval. Although commonly regarded as slang, it is widely used among disparate social
				groups
				and has endured in usage for generations.</p>
		</div>
		<div class="col-12 col-lg-6 about-img-container">
			<img src="https://images.unsplash.com/photo-1571939228382-b2f2b585ce15?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjV8fGhvdXNlfGVufDB8fDB8&auto=format&fit=crop&w=500&q=60"
				alt="" class="about-img">
		</div>
	</div>
</div>

<!-- <div class="row mt-3">
	<div class="col-6">
		<h1 data-aos="slide-right" data-aos-duration="1000" data-aos-once="true">About Us</h1>
		<p class="lead">
			We are very good at what we do
		</p>
		<p>Coolness is an aesthetic of attitude, behavior, comportment, appearance and style which is generally admired.
			Because of the varied and changing connotations of cool, as well as its subjective nature, the word has no
			single meaning. It has associations of composure and self-control and often is used as an expression of
			admiration or approval. Although commonly regarded as slang, it is widely used among disparate social groups
			and has endured in usage for generations.</p>
	</div>

	<div class="col-6">
		<h1 data-aos="fade-left" data-aos-duration="1200" data-aos-once="true" data-aos-delay="200">More About Us</h1>
		<p class="lead">
			We are very very good at what we do
		</p>
		<p>Coolness is an aesthetic of attitude, behavior, comportment, appearance and style which is generally admired.
			Because of the varied and changing connotations of cool, as well as its subjective nature, the word has no
			single meaning. It has associations of composure and self-control and often is used as an expression of
			admiration or approval. Although commonly regarded as slang, it is widely used among disparate social groups
			and has endured in usage for generations.</p>
	</div>
</div>

<div class="row mt-3">
	<div class="col-6">
		<h1 data-aos="fade-right" data-aos-duration="1400" data-aos-once="true" data-aos-delay="400">More More About Us
		</h1>
		<p class="lead">
			We are very very very good at what we do
		</p>
		<p>Coolness is an aesthetic of attitude, behavior, comportment, appearance and style which is generally admired.
			Because of the varied and changing connotations of cool, as well as its subjective nature, the word has no
			single meaning. It has associations of composure and self-control and often is used as an expression of
			admiration or approval. Although commonly regarded as slang, it is widely used among disparate social groups
			and has endured in usage for generations.</p>
	</div>

	<div class="col-6">
		<h1 data-aos="fade-left" data-aos-duration="1600" data-aos-once="true" data-aos-delay="600">More More More About
			Us</h1>
		<p class="lead">
			We are very very very very good at what we do
		</p>
		<p>Coolness is an aesthetic of attitude, behavior, comportment, appearance and style which is generally admired.
			Because of the varied and changing connotations of cool, as well as its subjective nature, the word has no
			single meaning. It has associations of composure and self-control and often is used as an expression of
			admiration or approval. Although commonly regarded as slang, it is widely used among disparate social groups
			and has endured in usage for generations.</p>
	</div>
</div> -->


{% endblock %}