{% extends 'layout.html' %}

{% block content %}

	<div class="container my-5">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-12 col-md-6">
				<form method="POST" 
					  action="{{ url_for('addtransaction', type=type, id=(form.deal_id.data or form.exp_id.data)) }}" 
					  class="form-style"
				>
					<fieldset class="form-group">
						{{ form.csrf_token }}						

						{% if type == "receivepayment" %}
							<legend class="text-orange-1 text-center">
								Recieve Payment
							</legend>
							<p class="text-dark-3 text-center">
								Recieve Payment for a Deal
							</p>
							{{ form.deal_id }}
						{% else %}
							<legend class="text-orange-1 text-center">
								Add Expense
							</legend>
							<p class="text-dark-3 text-center">
								Add an Expense to the System
							</p>
							{{ form.exp_id }}
						{% endif %}

						<br>
						<div class="form-group">
							{{ form.amount.label }}
							{% if form.amount.errors %}
							{{ form.amount(class='form-control is-invalid') }}
							<div class="invalid-feedback">
								{% for error in form.amount.errors %}
								<span>{{ error }}</span>
								{% endfor %}
							</div>
							{% else %}
							{{ form.amount(class='form-control') }}
							{% endif %}
						</div>
						<br>
						<div class="form-group">
							{{ form.comments.label }}
							{% if form.comments.errors %}
							{{ form.comments(class='form-control is-invalid') }}
							<div class="invalid-feedback">
								{% for error in form.comments.errors %}
								<span>{{ error }}</span>
								{% endfor %}
							</div>
							{% else %}
							{{ form.comments(class='form-control') }}
							{% endif %}
						</div>
						<br>
						<div class="form-group btn-center">
							{{ form.add(class='btn btn-outline-dark') }}
						</div>
					</fieldset>
				</form>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>

{% endblock %}