{% extends 'layout.html' %}

{% block content %}

<!-- new -->
<section class="my-5">
  <div class="container">
    <h1 class="text-orange-1 text-center">Buyer Information</h1>
    <p class="text-dark-3 text-center">All the buyer's information is listed here</p>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <table class="table mt-4">
          <thead>
            <tr class="text-orange-3">
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">CNIC</th>
              <th scope="col">Comments</th>
              <th scope="col">Deals</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-dark-3">
              <th scope="row">{{buyer.id}}</th>
              <td>{{buyer.name}}</td>
              <td>{{buyer.cnic}}</td>
              {% if buyer.comments %}
              <td>{{buyer.comments}}</td>
              {% endif %}
              {% if buyer.deals[0] %}
              <td>
                {% for deal in buyer.deals %}
                {{ deal.id }}
                <br>
                {% endfor %}
              </td>
              {% endif %}
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
</section>
<!-- new -->

{% endblock %}