{% extends 'layout.html' %}

{% block content %}
  <div class="content-section">
    <form method="POST" action="/createbuyer">
	  <fieldset class="form-group">

		{{ form.csrf_token }}
        <legend>Add Buyer</legend>

		  <div class="form-group">
        	{{ form.name.label }}
        	{% if form.name.errors %}
        	  {{ form.name(class='form-control is-invalid') }}
          	  <div class="invalid-feedback">
                {% for error in form.name.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
          	  </div>
          	{% else %}
              {{ form.name(class='form-control') }}
            {% endif %}
 
      	  </div>
	      
		  <div class="form-group">
        	{{ form.cnic.label }}
     	
        	{% if form.cnic.errors %}
        	  {{ form.cnic(class='form-control is-invalid') }}
          	  <div class="invalid-feedback">
                {% for error in form.cnic.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
          	  </div>
          	{% else %}
              {{ form.cnic(placeholder="Enter numbers only", class='form-control') }}
            {% endif %}
 
      	  </div>

		  <div class="form-group">
        	{{ form.comments.label }}
     	
        	{% if form.comments.errors %}
        	  {{ form.comments(class='form-control is-invalid') }}
          	  <div class="invalid-feedback">
                {% for error in form.comments.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
          	  </div>
          	{% else %}
              {{ form.comments(placeholder="Leave empty if no comments", class='form-control') }}
            {% endif %}
 
      	  </div>

	      <div class="form-group">
	        {{ form.submit(class='btn btn-outline-dark') }}
	      </div>

	  </fieldset>
	</form>
  </div>


{% endblock %}