{% extends 'layout.html' %}

{% block content %}	
    
    <div class="text-center">
		<button id="buyers-button" onclick="clicked('buyers')">
			Buyers
		</button>
		<button id="plots-button"  onclick="clicked('plots')">
			Plot
		</button>
		<button id="CAs-button"    onclick="clicked('CAs')">
			Commission Agent
		</button>
		<button id="ETs-button"    onclick="clicked('ETs')">
			Expenditure Types
		</button>
	</div>

	<!-- Buyers -->
	{% if active == "buyers" %}
		<div id="buyers-div" style="display: block;">
	{% else %}
		<div id="buyers-div" style="display: none;">
	{% endif %}
	{% for buyer in buyers %}
    <div class="row pl-5">
      
	  <legend>
        <strong>Buyer ID {{buyer.id}}:</strong>
      </legend>

      <p>
        Buyer Name: {{ buyer.name }}</br>
        Buyer CNIC: {{ buyer.cnic }}</br>
        {% if buyer.comments %}
          Comments: {{ buyer.comments }}</br>
        {% endif %}
        {% if buyer.deals[0] %}
          Buyer's Deals:
          {% for deal in buyer.deals %}
            {{ deal.id }}
          {% endfor %}
          <br>
        {% endif %}
      </p>
    </div>
        
    <div class="row pl-5 pb-4 border-bottom border-secondary"> 
      {% if not current_user.rank %}
          
        <button class="btn btn-outline-danger btn-sm"><a class="deleteLink" href="{{ url_for('deletebuyer', buyer_id=buyer.id) }}">Delete Buyer</a></button>

      {% endif %}
        
        <button class="btn btn-outline-secondary btn-sm  ml-2"><a href="{{ url_for('editbuyer', buyer_id=buyer.id) }}">Edit Buyer Info</a></button>
        
    </div>
    <br><br>
        
    {% endfor %}
	</div>

	<!-- Plots -->
	{% if active == "plots" %}
		<div id="plots-div" style="display: block;">
	{% else %}
		<div id="plots-div" style="display: none;">
	{% endif %}
	{% for plot in plots %}
    <div class="row pl-5">
      
	  <legend>
        <strong>Plot ID {{plot.id}}:</strong>
      </legend>

      <p>
        <p>
		    Plot ID: {{ plot.id }}</br>
		    Plot Address: {{ plot.address }}</br>

		    {% if not plot.price %}
		      Plot Price: <span style="color: red;">Not Set</span> 
		      &nbsp&nbsp&nbsp&nbsp&nbsp 
		      {% if not current_user.rank %}
		        (<a href="{{ url_for('editplotprice', plot_id=plot.id) }}">Set Plot Price</a>)
		      {% endif %}
		    {% else %}
		      Plot Price: {{ plot.price }}
		      &nbsp&nbsp&nbsp&nbsp&nbsp
		      {% if not current_user.rank %}
		        (<a href="{{ url_for('editplotprice', plot_id=plot.id) }}">Edit Plot Price</a>)
		      {% endif %}
		    {% endif %}</br>    

		    Plot Size: {{ plot.size }}</br>
		    Status: {{ plot.status }}</br>

		    {% if plot.comments %}
		      Comments: {{ plot.comments }}</br>
		    {% endif %}

		    {% if plot.deal %}
		      Plot's Deal: {{ plot.deal.id }}</br>
		    {% endif %}
		 </p>
      </p>
    </div>  
        
    {% endfor %}
    </div>

    <!-- CAs -->
    {% if active == "CAs" %}
		<div id="CAs-div" style="display: block;">
	{% else %}
		<div id="CAs-div" style="display: none;">
	{% endif %}
	{% for CA in CAs %}
	{% endfor %}
    </div>

    <!-- ETs -->
    {% if active == "ETs" %}
		<div id="ETs-div" style="display: block;">
	{% else %}
		<div id="ETs-div" style="display: none;">
	{% endif %}
	{% for ET in ETs %}

		<legend>Expenditure Type: {{ ET.name }}</legend>

	{% endfor %}
    </div>


	<script type="text/javascript">
		let all = ["buyers", "plots", "CAs", "ETs"];

		clicked("{{ active }}");

		function clicked(name){
			//Turning on the cliked button and div
			document.getElementById(name+"-div").style.display = 'block';
			document.getElementById(name+"-button").className  = 'btn btn-info';

			//Turning off the resst of buttons and divs
			for(let each of all){
				if(each != name){
					document.getElementById(each+"-div").style.display = 'none';
					document.getElementById(each+"-button").className  = 'btn btn-outline-info';
				}
			}
		}
	</script>
    

{% endblock %}