{% extends 'layout.html' %}

{% block content %}

    <div class="row mt-5">
      <img class="rounded float-left img-fluid mx-auto" src="/static/house 3.jpg">
    </div>

    <div class="row mt-5">
      <div class="col-6">
        <img class="rounded float-left img-fluid mx-auto" src="/static/house 1.jpg">
      </div>

      <div class="col-6">
        <img class="rounded float-left img-fluid mx-auto px-4" src="/static/house 2.jpeg">
      </div>
    </div>

    <div class="row mt-5">
     <img class="rounded img-fluid mx-auto" src="/static/house 4.jpg">
    </div>

    <div class="row mt-5">
      <div class="col-6">
        <img class="rounded float-left img-fluid mx-auto py-5" src="/static/house 5.jpg">
      </div>

      <div class="col-6">
        <img class="rounded float-left img-fluid mx-auto" src="/static/house 6.jpg">
      </div>
    </div>

{% endblock %}