{% extends 'layout.html' %}

{% block content %}
<div class="slider">
  <div class="slider-left">
    <div class="row mx-3">
    </div>
  </div>
  <div class="slider-right">
    <div>
      <div class="heading-4">
        <h1 class="text-light-1 text-center">Our Services</h1>
        <p class="text-light-3 text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Quisquam,
          vitae!
        </p>
        <div class="slider-icon">
          <a href=""><i class="fab fa-facebook-f"></i></a>
          <a href=""><i class="fab fa-twitter"></i></a>
          <a href=""><i class="fab fa-instagram"></i></a>
          <a href=""><i class="fab fa-pinterest"></i></a>
          <a href=""><i class="fab fa-linkedin-in"></i></a>
          <a href=""><i class="fab fa-youtube"></i></a>
        </div>
      </div>
      <h1 class="heading text-center heading-3">Our
        Services</h1>
    </div>
  </div>
</div>
<div class="container">
  <br><br>
  <div>
    <div class="heading-2">
      <h1 class="text-orange-1 text-center">Our Services</h1>
      <p class="text-dark-3 text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam,
        vitae!
      </p>
    </div>
    <h1 class="heading text-center heading-1">Our Services</h1>
  </div>
  <br><br>
  <div class="row mt-5">
    <div class="col-6">
      <div class="demo">
        <div class="item">
          <div class="clearfix gallery-width">
            <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
              <li
                data-thumb="https://images.unsplash.com/photo-1570129477492-45c003edd2be?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8aG91c2V8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
                <img
                  src="https://images.unsplash.com/photo-1570129477492-45c003edd2be?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8aG91c2V8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" />
              </li>
              <li
                data-thumb="https://images.unsplash.com/photo-1568605114967-8130f3a36994?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NHx8aG91c2V8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
                <img
                  src="https://images.unsplash.com/photo-1568605114967-8130f3a36994?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NHx8aG91c2V8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" />
              </li>
              <li
                data-thumb="https://images.unsplash.com/photo-1572120360610-d971b9d7767c?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTJ8fGhvdXNlfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
                <img
                  src="https://images.unsplash.com/photo-1572120360610-d971b9d7767c?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTJ8fGhvdXNlfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" />
              </li>
              <li
                data-thumb="https://images.unsplash.com/photo-1575517111478-7f6afd0973db?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTd8fGhvdXNlfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
                <img
                  src="https://images.unsplash.com/photo-1575517111478-7f6afd0973db?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTd8fGhvdXNlfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" />
              </li>
              <li
                data-thumb="https://images.unsplash.com/photo-1576941089067-2de3c901e126?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjB8fGhvdXNlfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
                <img
                  src="https://images.unsplash.com/photo-1576941089067-2de3c901e126?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjB8fGhvdXNlfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" />
              </li>
              <li
                data-thumb="https://images.unsplash.com/photo-1571939228382-b2f2b585ce15?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjV8fGhvdXNlfGVufDB8fDB8&auto=format&fit=crop&w=500&q=60">
                <img
                  src="https://images.unsplash.com/photo-1571939228382-b2f2b585ce15?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjV8fGhvdXNlfGVufDB8fDB8&auto=format&fit=crop&w=500&q=60" />
              </li>
              <li
                data-thumb="https://images.unsplash.com/photo-1449844908441-8829872d2607?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzJ8fGhvdXNlfGVufDB8fDB8&auto=format&fit=crop&w=500&q=60">
                <img
                  src="https://images.unsplash.com/photo-1449844908441-8829872d2607?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzJ8fGhvdXNlfGVufDB8fDB8&auto=format&fit=crop&w=500&q=60" />
              </li>
              <li
                data-thumb="https://images.unsplash.com/photo-1472224371017-08207f84aaae?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDN8fGhvdXNlfGVufDB8fDB8&auto=format&fit=crop&w=500&q=60">
                <img
                  src="https://images.unsplash.com/photo-1472224371017-08207f84aaae?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDN8fGhvdXNlfGVufDB8fDB8&auto=format&fit=crop&w=500&q=60" />
              </li>
              <li
                data-thumb="https://images.unsplash.com/photo-1567493756992-e2b6227cddc0?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDl8fGhvdXNlfGVufDB8fDB8&auto=format&fit=crop&w=500&q=60">
                <img
                  src="https://images.unsplash.com/photo-1567493756992-e2b6227cddc0?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDl8fGhvdXNlfGVufDB8fDB8&auto=format&fit=crop&w=500&q=60" />
              </li>
              <li
                data-thumb="https://images.unsplash.com/photo-1576941465093-fc22d70914e1?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8NTJ8fGhvdXNlfGVufDB8fDB8&auto=format&fit=crop&w=500&q=60">
                <img
                  src="https://images.unsplash.com/photo-1576941465093-fc22d70914e1?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8NTJ8fGhvdXNlfGVufDB8fDB8&auto=format&fit=crop&w=500&q=60" />
              </li>
              <li
                data-thumb="https://images.unsplash.com/photo-1523745663588-1bfa973c9b35?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8NjN8fGhvdXNlfGVufDB8fDB8&auto=format&fit=crop&w=500&q=60">
                <img
                  src="https://images.unsplash.com/photo-1523745663588-1bfa973c9b35?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8NjN8fGhvdXNlfGVufDB8fDB8&auto=format&fit=crop&w=500&q=60" />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <h1 class="text-orange-1 mt-5">Lorem Ipsum</h1>
      <p class="text-dark-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, nihil repudiandae?
        Odio eum perferendis
        ab voluptates consequatur itaque voluptate. Architecto, amet voluptatem odio repellendus officia
        quasi iusto, animi esse ex ducimus excepturi? Officiis cumque voluptas quis voluptates voluptate eos
        assumenda et, atque ad soluta harum vel neque minima incidunt. Id exercitationem placeat non ea
        deserunt delectus tempora animi quidem voluptatem, omnis quae aperiam nihil voluptates, cumque quis
        libero veritatis accusantium repellat atque sit minus officia. Magni nulla similique dicta magnam
        minus dignissimos veritatis iusto reiciendis perspiciatis ab qui officia, omnis ex assumenda odio
        natus esse exercitationem ipsum laudantium voluptatum sapiente.</p>
    </div>
  </div>
</div>

{% endblock %}