{% extends 'layout.html' %}

{% block content %}
  <div id="header">

  </div>

  <div id="left">

  </div>

  <div id="right">

  </div>

  <div id="footer">

  </div>




















    <!--
    <div class="header">

      <div class="floatleft">
        <a href="/about"><img src="/static/logo.png" height="70px"></a>
      </div>
      <div class="floatleft">
        <h1>Home Page</h1>
      </div>

      <div class="headerrightside">
        <a href='/login' padding-top:50px>Login</a>
      </div>
      <div class="headerrightside">    
        <a href='/about'>About Us</a>
      </div> 
    </div>

    <div class="clear"></div>

    <div class="homeimages">
      <img src="/static/house 1.jpg" height="300px" width="400px">
    </div>

    <div class="homeimages">
      <img src="/static/house 2.jpeg" height="300px" width="350px">
    </div> -->


{% endblock %}