{% extends 'layout.html' %}

{% block content %}

<div class="content-section">
    <form method="POST" action="/login">
	  <fieldset class="form-group">

		{{ form.csrf_token }}
        <legend>Login</legend>

		  <div class="form-group">
        	{{ form.email.label }}
        	{% if form.email.errors %}
        	  {{ form.email(class='form-control is-invalid') }}
          	  <div class="invalid-feedback">
                {% for error in form.email.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
          	  </div>
          	{% else %}
              {{ form.email(placeholder="yourname@example.com", class='form-control') }}
            {% endif %}
 
      	  </div>
	      
		  <div class="form-group">
        	{{ form.password.label }}
     	
        	{% if form.password.errors %}
        	  {{ form.password(class='form-control is-invalid') }}
          	  <div class="invalid-feedback">
                {% for error in form.password.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
          	  </div>
          	{% else %}
              {{ form.password(class='form-control') }}
            {% endif %}
 
      	  </div>

	      <div class="form-group">	      	
	        {{ form.submit(class='btn btn-outline-dark') }}
	      </div>

	  </fieldset>
	</form>
  </div>

{% endblock %}